// Variables

// Color Palette
$fe-c-white: #ffffff;
$fe-c-cloud: #f7f9fa;
$fe-c-pearl-river: #ebf0f6;
$fe-c-smoke: #c9cdda;
$fe-c-charcoal: #20232b;
$fe-c-lawn-green: #46c328;
$fe-c-navy: #124db8;
$fe-c-cobalt: #246bea;
$fe-c-violet: #a91af0;
$fe-c-magenta: #d6009a;

// Color Roles
$fe-c-primary: $fe-c-cobalt;
$fe-c-primary-d: $fe-c-navy;

$fe-c-muted-vl: $fe-c-cloud;
$fe-c-muted-l: $fe-c-pearl-river;
$fe-c-muted-d: $fe-c-charcoal;


// Spacing
$spacer: 15px;


// UI
$box-shadow-100: 1px 2px 5px rgb(0 0 0 / 20%);

$nav-height: 65px;